<div *ngIf="courses.length>0">List of courses</div>
<div *ngIf="courses.length == 0">No courses yet</div>

<div *ngIf="Players.length>0; else noPlayers">List of players</div>
<ng-template #noPlayers>No players yet</ng-template>

<div [hidden]="fruits.length==0"> No fruits yet</div>
<div [hidden]="fruits.length>0"> list of fruits</div>

<div>
    <li *ngFor="let item of items">{{ item }}</li>
</div>
<p>{{message}}</p>>
<div>
    <input [(ngModel)] = "inputValue" placeholder="type">
    <p> You typed: {{inputValue}}</p>
</div>

  